CREATE TABLE IF NOT EXISTS attendance_settings (
  id INT PRIMARY KEY,
  duty_start TIME NOT NULL DEFAULT '08:00:00',
  duty_end TIME NOT NULL DEFAULT '14:00:00',
  grace_minutes INT NOT NULL DEFAULT 0,
  early_grace_minutes INT NOT NULL DEFAULT 0,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

INSERT IGNORE INTO attendance_settings (id, duty_start, duty_end, grace_minutes, early_grace_minutes) VALUES (1, '08:00:00', '14:00:00', 0, 0);
